[flake8]
max-line-length = 88
docstring-convention = google
# Will finish these later
extend-ignore = D101,D107
per-file-ignores =
    tests/*.py: D1,D2,D4
    examples/*.py: D1,D2,D4
    __version__.py: D100
exclude =
    airflow
    docs/conf.py
    .git
    __pycache__
    setup.py
    build
    dist
    .venv
    .tox
    .mypy_cache
    .pytest_cache
    .vscode
    .github
