[tool.poetry]
name = "airflow-dbt-python"
version = "0.13.2"
description = "A dbt operator and hook for Airflow"
authors = ["Tomás Farías Santana <tomas@tomasfarias.dev>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/tomasfarias/airflow-dbt-python"
classifiers = [
    "Development Status :: 4 - Beta",

    "Intended Audience :: Developers",

    "License :: OSI Approved :: MIT License",

    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]

[tool.poetry.dependencies]
python = "^3.7"

apache-airflow = { version = ">=1.10.12, <3.0.0", optional = true }
apache-airflow-providers-amazon = { version = "^2", optional = true }

dbt-core = "^1.0"
dbt-postgres = { version = "^1.0", optional = true }
dbt-redshift = { version = "^1.0", optional = true }
dbt-snowflake = { version = "^1.0", optional = true }
dbt-bigquery = { version = "^1.0", optional = true }

# Documentation extras
Sphinx = { version = "4.2.0", optional = true }
sphinx-rtd-theme = { version = "1.0.0", optional = true }
sphinxcontrib-napoleon = { version = "0.7", optional = true }

[tool.poetry.dev-dependencies]
black = "^22.1"
mypy = "^0.902"
flake8 = "^3.9.2"
flake8-docstrings = "^1.6.0"
pytest = "^6.2.4"
pre-commit = "^2.12.1"
pytest-postgresql = "^3.1.1"
psycopg2-binary = "^2.8.6"
isort = "^5.9.2"
moto = "^2.2.2"
freezegun = "^1.1.0"
types-freezegun = "^1.1.6"
pytest-cov = "^3.0.0"
boto3-stubs = {extras = ["s3"], version = "^1.20.49"}

[tool.poetry.extras]
adapters = ["dbt-bigquery", "dbt-redshift", "dbt-postgres", "dbt-snowflake"]
airflow = ["apache-airflow"]
amazon = ["apache-airflow-providers-amazon"]
bigquery = ["dbt-bigquery"]
docs = ["Sphinx", "sphinx-rtd-theme", "sphinxcontrib-napoleon"]
postgres = ["dbt-postgres"]
redshift = ["dbt-redshift"]
snowflake = ["dbt-snowflake"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.black]
line-length = 88
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.pytest.ini_options]
postgresql_user = "test"
postgresql_password = "test" # pragma: allowlist secret
postgresql_dbname = "test"
python_classes = "!TestStatus !TestTaskConfig"
filterwarnings = [
    # Warnings raised by dbt dependencies
    'ignore: write_gpickle is deprecated:DeprecationWarning',
    "ignore: 'soft_unicode' has been renamed to 'soft_str':DeprecationWarning"
]

[tool.mypy]
ignore_missing_imports = true
strict_optional = true
warn_unused_ignores = false
warn_redundant_casts = true
warn_unused_configs = true
