name: PyPI deploy
on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install Poetry
        uses: abatilo/actions-poetry@v2.1.3
      - name: Install airflow-dbt-python with Poetry
        run: poetry install
      - name: Build airflow-dbt-python with Poetry
        run: poetry build
      - name: Publish airflow-dbt-python to PyPI with Poetry
        run: poetry publish --username __token__ --password ${{ secrets.PYPI_API_TOKEN }}
