name: PyPI deploy
on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2.14.0
        with:
          egress-policy: audit
          allowed-endpoints: >
            files.pythonhosted.org:443
            github.com:443
            release-assets.githubusercontent.com:443
            api.github.com:443
            pypi.org:443

      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.13

      - name: Install airflow-dbt-python with uv
        run: uv sync --no-dev

      - name: Build airflow-dbt-python with uv
        run: uv build

      - name: Publish airflow-dbt-python to PyPI with uv
        run: uv publish --token ${{ secrets.PYPI_API_TOKEN }}
